@import '~@fluentui/react/dist/sass/References.scss';

.scrollToTop{
  background: #0082cb59;
  bottom: 50px;
  cursor: pointer;
  position: fixed;
  right: 30px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  z-index: 999999;
  &:hover{
    box-shadow: 0px 0px 3px 2px #aaa;
    background: #0082cb;
    transition: all 0.5s ease-out;
  }
  i{
    font-weight: 600;
    color: #fff;
    font-size: 22px;
  }
}

.tableOfContents {

  .activeLink{
    background-color: #f2f2f2;
    font-weight: 600;    
  }

  .mainList.scrolling{
    overflow-y: scroll;
    max-height: calc(100vh - 150px);
    // max-height: 580px;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .mainList.scrolling::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .mainList.scrolling {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &.wpStylePlain{
    display: block;
  }
  &.wpStyleBoxed{
    padding: 5px 30px 5px 13px;
    // box-shadow: 0px 1px 5px 2px #ddd;
    // border-radius: 7px;
    .mainList{
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  &.wpStyleLined{
    display: block;
    padding: 5px 30px 5px 13px;
    // border-radius: 3px;
    .mainList{
      // border-radius: 5px;      
      ul, li{
        padding: 0!important;
        margin: 0!important;
        padding-inline-start: 0px!important;
        font-weight: normal;
      }
      a{
        border-bottom: 1px solid #fff;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        border-radius: 0;
        padding: 7px 10px;
      }
      li li a{ //2nd level
        padding-left: 20px;
      }
      li li li a{ //3rd level
        padding-left: 30px;
      }
    }
    .mainList > li{
      font-weight: 600;
    }
  }

  /* Collpase & expand styles */
  .listInitCollapsed, .listInitExpanded{
    ul{
      padding-inline-start: 15px;
    }
    &.mainList{
      padding-inline-start: 0px;
      padding: 15px 10px;
    }
    ul, li{
      list-style-type: none;
    }
    .linkNoChild{
      padding-left: 11px;
    }
    .linkHasChild{
      display: inherit;
    }
    .colExpIcon{
      padding-right: 10px;
      i{
        font-size: 9px;
        font-weight: 600;
      }
    }
    .collapseChild{
      + .childList{
        display: none;
      }
    }
    .expandChild{
      + .childList{
        display: block;
      }
    }
  }  
  .listInitCollapsed{
    .childList{
      display: none;
    }
  }
  .listInitExpanded{
    .childList{
      display: block;
    }
  }
  

  
  


  h2{
    font-weight: 400!important;
  }

  a {
    // color: var(--actionLink);
    text-decoration: none;
    display: block;
    border-radius: 5px;
    padding: 5px;
    color: inherit;

    &:hover {
      // color: var(--actionLink);
      text-decoration: underline;
      color: inherit;
    }

    &:visited {
      // color: var(--actionLink);
      color: inherit;
    }
  }

  li::marker {
    // color: var(--primaryButtonBackground);
    color: inherit;
  }

  .backItem {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--menuDivider);
    margin-bottom: 10px
  }

  // hide on medium screens and smaller
  .hideInMobileView {
    @include ms-screen-lg-down {
      display: none !important;
    }
  }

  .title {
    min-height: auto;
  }

  .hideTitle {
    display: none !important;
  }
}